.layout {
    display: grid;
    box-sizing: inherit;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem;
    align-items: stretch;
    gap: 4px;
    flex: 8;
}

.layout h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.layout span {
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.entry-present {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.entry-present::after {
    content: '';
    position: absolute;
    bottom: 8px;
    height: 8px;
    width: 8px;
    background-color: rgba(70, 90, 200, .6);
    border-radius: 50%;
}

.day {
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;
    background-color: rgba(240, 248, 255, .6);
    font-weight: 100;
}

.day:hover {
    background-color: rgba(0, 0, 0, .1);
}

.day p {
    height: 100%;
    width: 100%;
}

.month-year {
    grid-column: 1/8;
    display: flex;
    justify-content: space-around;
}

.arrow-containers {
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow-containers span {
    width: 100%;
    display: flex;
    height: fit-content;
}

.arrow-containers span svg {
    height: 40px;
}

.month-year .arrow-containers:first-child span {
    transform: rotate(90deg);
}

.month-year .arrow-containers:last-child span {
    transform: rotate(-90deg);
}