.container {
    width: 100%;
    margin: 1rem 0;
}

.wrapper {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem .2rem;
    margin-right: 1rem;
    box-shadow: 0 0px 2px 2px var(--secondary-accent);
    background-color: var(--main-colour);
    color: var(--secondary-colour);
    border-radius: 3px;
    transition: .3s;
}

.stat-header, .data {
    padding: .2rem;
}

.data {
    font-weight: 100;
}

@media (max-width: 1300px) {
  .container {
    margin: .5rem;
  }
}

@media (max-width: 1024px) {
    .stat {
        margin-top: .5rem;
    }
    .stat:last-child {
        margin-bottom: .5rem;
    }
    .container {
        margin: 0;
        margin-left: .5rem;
    }
}