a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/font/Public_Sans/PublicSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playfair';
  src: url('/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

.normal {
  --xx-light-primary: rgba(240,248,255, .9);
  --xxx-light-primary: rgba(240,248,255);
  --x-light-primary: rgba(215, 236, 255, .9);
  --light-primary: rgba(215, 236, 255, .6);
  --main-colour: white;
  --secondary-accent: rgba(0, 0, 0, 0.2);
  --primary-accent: rgb(80, 99, 255);
  --darker-primary-accent: rgba(70, 90, 200, .6);
  --secondary-colour: black;
}

.dark {
  --xx-light-primary: rgba(107, 114, 142, .7);
  --light-primary: rgba(107, 114, 142, .3);
  --x-light-primary: rgba(107, 114, 142, .5);
  --xxx-light-primary: rgba(107, 114, 142);
  --main-colour: rgba(64, 66, 88);
  --secondary-accent: rgba(231, 246, 242, 0.6);
  --primary-accent: rgba(240,248,255);
  --darker-primary-accent: rgba(240,248,255, .6);
  --secondary-colour: rgba(240,248,255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair';
  height: 100vh;
}

#root, .background {
  height: 100%;
}

.background {
  background: linear-gradient(.25turn, var(--light-primary), 25%, var(--x-light-primary));
  transition: .3s;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border-bottom: 2px solid var(--secondary-accent);
  background-color: var(--main-colour);
  transition: .3s;
}

.top-bar h1 {
  position: relative;
  color: var(--primary-accent);
  left: 10vh;
  padding: 1rem;
}

.dark-mode-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23px;
  width: 100px;
  margin-right: 1rem;
}

.dark-mode-toggle svg {
  margin: 0 .2rem;
  fill: var(--secondary-colour);
}

.button {
  all: unset;
  height: 100%;
  width: 90px;
  cursor: pointer;
  border: 1px solid var(--secondary-colour);
  border-radius: 25px;
}

.button span {
  border-radius: 25px;
  background-color: var(--secondary-colour);
  border: 2px solid var(--main-colour);
  transform: none;
  transition: transform .3s;
  display: block;
  height: 23px;
  width: 23px;
}

.side-bar {
  position: absolute;
  background-color: var(--main-colour);
  z-index: 1;
  height: 100%;
  width: 10vh;
  border-right: 2px solid var(--secondary-accent);
  transition: .3s;
}

.main-display {
  position: relative;
  top: 15vh;
  left: 15vh;
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  height: 500px;
}

.chart-container {
  flex: 6;
  background-color: var(--main-colour);
  border-radius: 3px;
  box-shadow: 0 0px 2px 2px var(--secondary-accent);
  margin: 2rem;
  transform: translateY(50%);
  opacity: 0;
  height: 100%;
  transition: .3s;
}

.calendar-container {
  flex: 4;
  background-color: var(--main-colour);
  border-radius: 3px;
  height: 90%;
  box-shadow: 0 0px 2px 2px var(--secondary-accent);
  margin: 2rem;
  transform: translateY(50%);
  opacity: 0;
  height: 100%;
}

.show {
  animation: fadeIn .3s ease-in .1s 1 forwards;
}

@keyframes fadeIn {
  0% {
      transform: translateY(50%);
      opacity: 0;
  }

  100% {
      transform: none;
      opacity: 1;
  }
}