a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/font/Public_Sans/PublicSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playfair';
  src: url('/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair';
  background-color: rgba(240, 248, 255, .15);
  /* overflow-y: hidden; */
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-bar {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.top-bar h1 {
  position: relative;
  color: rgb(80, 99, 255);
  left: 10vh;
  padding: 1rem;
}

.side-bar {
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 100%;
  width: 10vh;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.main-display {
  position: relative;
  top: 15vh;
  left: 15vh;
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  height: 500px;
}

.chart-container {
  flex: 6;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, .2);
  margin: 2rem;
  transform: translateY(50%);
  opacity: 0;
  height: 100%;
}

.calendar-container {
  flex: 4;
  background-color: white;
  border-radius: 3px;
  height: 90%;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 18, .1);
  margin: 2rem;
  transform: translateY(50%);
  opacity: 0;
  height: 100%;
}

.show {
  animation: fadeIn .3s ease-in .1s 1 forwards;
}

@keyframes fadeIn {
  0% {
      transform: translateY(50%);
      opacity: 0;
  }

  100% {
      transform: none;
      opacity: 1;
  }
}